mat-dialog-container {
  padding: 18px;
}
.title {
  /* margin: 0px; */
  padding: 20px 24px 20px;
  color: #ffffff;
  font-size: 18px;
  /* line-height: 25px; */
  font-weight: 400;
}

.message {
  font-size: 16px;
  /* color: rgba(0, 0, 0, 0.6); */
  padding: 24px 31px 24px;
  box-sizing: border-box;
  overflow-y: auto;
  border-top: none;
  border-bottom: none;
  /* max-height: 381px; */
}

.action {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* width: 100%; */
  /* text-align: right; */
  border: 1px solid black;
}

.action button {
  border: 1px solid black;
}

.success {
  background: #43a047;
}

.info,
.confirm,
.sessionTimeOut {
  background: #0277bd;
}

.warn,
.error {
  background: #f44336;
}

.center-btn {
  justify-content: center !important;
  display: flex !important;
}

.list-group-item {
  background-color: unset !important;
  border: unset !important;
  padding: 5px 15px !important;
}

.alert {
  border-radius: unset !important;
}

.radio-group {
  display: inline-flex;
  flex-direction: column;
  padding: 10px 10px 10px 20px;
  margin-bottom: 15px;
}

.radio-button {
  margin: 5px;
}

.background-success {
  background-color: #43a047 !important;
  color: #ffffff !important;
}

.background-primary {
  background-color: #0277bd !important;
  color: #ffffff !important;
}

.latestHrpDetails{
  background: #ffc30b;
}