<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mainHeadingDiv">
    <h2 class="mainHeading">
      {{ currentLanguageSet?.editGradeConfiguration }}
    </h2>
  </div>

  <mat-card class="innerCard">
    <mat-card-content>
      <form class="row" [formGroup]="editGradeConfigurationForm"
        autocomplete="off"
        style="margin-top: 10px"
        *ngIf="enableEdit"
      >
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box">
        <mat-form-field class="backgroundWhite" appearance="outline" id="gradeId" style="width:100%">
          <mat-label>{{ currentLanguageSet?.grades }}</mat-label>
          <mat-select
            formControlName="gradeId"
            (selectionChange)="setGradeForEdit(editGradeConfigurationForm.controls['gradeId'].value)"
            required
          >
            <mat-option
              *ngFor="let grade of gradeList"
              [value]="grade.id"
            >
              {{ grade.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box">
        <mat-form-field class="backgroundWhite" appearance="outline" [style.width]="'100%'">
          <mat-label>{{ currentLanguageSet?.minimumValue }}</mat-label>
          <input
            matInput
            placeholder=""
            id="minValue"
            formControlName="minValue"
            myMobileNumber
            type="number"
            maxlength="0"
            [min]="1"
            [max]="100"
            defaultNull
            required
          />
    
          <mat-error
            *ngIf="editGradeConfigurationForm.controls['minValue'].errors?.['required']"
          >
          {{ currentLanguageSet?.minimumValueRequired}}</mat-error
          >
          <mat-error
          *ngIf="editGradeConfigurationForm.controls['minValue'].errors?.['max']"
        >
        {{ currentLanguageSet?.MaximumLength100 }}
         </mat-error
        >
        <mat-error
        *ngIf="editGradeConfigurationForm.controls['minValue'].errors?.['min']"
      >
      {{ currentLanguageSet?.MaximumLength100 }}
       </mat-error
      > 
        </mat-form-field>
        
        
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box">
        <mat-form-field  class="backgroundWhite" appearance="outline" [style.width]="'100%'">
          <mat-label>{{ currentLanguageSet?.maximumValue }}</mat-label>
          <input
            matInput
            placeholder=""
            id="maxValue"
            formControlName="maxValue"
            myMobileNumber
            type="number"
            maxlength="0"
            [min]="1"
            [max]="100"
            defaultNull
          />
    
          <mat-error
            *ngIf="editGradeConfigurationForm.controls['maxValue'].errors?.['required']"
          >
          {{ currentLanguageSet?.maximumValueRequired }}</mat-error
          >
          <mat-error
            *ngIf="editGradeConfigurationForm.controls['maxValue'].hasError('valueGreater')">
            {{ currentLanguageSet?.maximumValueGreater }}</mat-error
          >
          <mat-error
          *ngIf="editGradeConfigurationForm.controls['maxValue'].errors?.['min']"
        >
        {{ currentLanguageSet?.MaximumLength100 }}
         </mat-error
        >
        <mat-error
        *ngIf="editGradeConfigurationForm.controls['maxValue'].errors?.['max']"
      >
      {{ currentLanguageSet?.MaximumLength100 }}
       </mat-error
      >
        </mat-form-field>
      </div>
      <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-toolbar pull-right"
          style="margin-top: 20px; justify-content: right;"
        >
          <button
            mat-raised-button
            class="buttonColorRed full-width buttonWidth"
            (click)="back()"
            type="button"
          >
          {{ currentLanguageSet?.back }}
          </button>
          <button
            mat-raised-button
            class="buttonColorGreen full-width buttonWidth"
            style="margin-left: 10px"
            type="submit"
            [disabled]="!editGradeConfigurationForm.valid || !editGradeConfigurationForm.dirty"
            (click)="updateGrade(editGradeConfigurationForm.value)"
          >
          {{ currentLanguageSet?.update }}
          </button>
      </div>
    </form>
    </mat-card-content>
  </mat-card>
