<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mainHeading">
    <!-- <h2 *ngIf="enableMotherRecord" class="inner fontStyleHeading">{{ currentLanguageSet?.motherRecord}}</h2>
    <h2 *ngIf="!enableMotherRecord" class="inner fontStyle">{{ currentLanguageSet?.childRecord}}</h2> -->
    <h2 class="inner fontStyleHeading">{{currentLanguageSet?.beneficiaryRegistration}}</h2>
    <button 
    mat-raised-button
      *ngIf="selectedRole === 'MO' || selectedRole === 'ANM' || (selectedRole === 'Associate' && enableUpdateButton)"
      style="width: 200px; margin-top: -50px; float: right;" 
      class="buttonColor quesButton fontStyleButton"
      (click)="openEcdQuestionnaire()">
      {{ currentLanguageSet?.ecdQuestionnaire}}
    </button>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <mat-card class="mainCard">
        <form class="row" [formGroup]="benRegistrationForm">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign" *ngIf="enableMotherRecord">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle fieldStyleDisabled">
                <mat-label class="fontStyleDisabled fieldStyleDisabled">{{ currentLanguageSet?.motherID}}</mat-label>
                <input
                  matInput
                  placeholder=""
                  class="fontStyleDisabled"
                  id="motherId"
                  formControlName="motherId"
                  type="text"
                  defaultNull
                  readonly
                
                />
              </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign" *ngIf="!enableMotherRecord">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle fieldStyleDisabled">
                <mat-label class="fontStyleDisabled fieldStyleDisabled">{{ currentLanguageSet?.childId}}</mat-label>
                <input
                  matInput
                  placeholder=""
                  class="fontStyleDisabled"
                  id="mctsidNoChildId"
                  formControlName="mctsidNoChildId"
                  type="text"
                  defaultNull
                  readonly
                  
                />
              </mat-form-field>
            </div>


          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign" *ngIf="!enableMotherRecord">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle">
            <mat-label class="fontStyle">{{ currentLanguageSet?.childName}}</mat-label>
            <input
              matInput
              placeholder=""
              appMyName
              class="fontStyle"
              id="childName"
              formControlName="childName"
              type="text"
              maxlength="200"
              defaultNull
              [required]="enableMotherRecord ? true : false"
            />
          </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle">
              <mat-label class="fontStyle">{{ currentLanguageSet?.motherName}}</mat-label>
              <input
                matInput
                appMyName
                placeholder=""
                class="fontStyle"
                id="motherName"
                formControlName="motherName"
                type="text"
                maxlength="200"
                defaultNull
                required
              />
            </mat-form-field>
            </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle">
            <mat-label class="fontStyle">{{ enableMotherRecord ? currentLanguageSet?.husbandName : currentLanguageSet?.fatherName }}</mat-label>
            <input 
              matInput
              appMyName
              placeholder=""
              class="fontStyle"
              id="husbandName"
              formControlName="husbandName"
              minlength="2" 
              maxlength="100"
              type="text"
              defaultNull
              
            />
          </mat-form-field>
          </div>

    
        
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle">
            <mat-label [ngClass]="enableMotherRecord ? 'fontStyleDisabled' : 'fontStyle'">{{currentLanguageSet?.gender}}</mat-label>
            <mat-select
              
              formControlName="genderID"
              [disabled]= "enableMotherRecord"
              required
             
            >
              <mat-option *ngFor="let genders of genderMasterList" (click)="setGenderName(genders.genderName)" [value]="genders.genderID">
                {{ genders.genderName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          </div>
 
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign" *ngIf="enableMotherRecord && selectedRole === 'Associate'">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle">
              <mat-label class="fontStyleDisabled ">{{ currentLanguageSet?.age}}</mat-label>
              <input 
                matInput
                placeholder=""
                class="fontStyle"
                id="age"
                min="12"
                max="50"
                formControlName="age"
                type="number"
                allowText="number"
                (change)="ageEntered()"
                defaultNull
                required
              />
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign" *ngIf="enableMotherRecord && selectedRole !== 'Associate'">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle fieldStyleDisabled">
              <mat-label class="fontStyleDisabled fieldStyleDisabled ">{{ currentLanguageSet?.age}}</mat-label>
              <input 
                matInput
                placeholder=""
                class="fontStyleDisabled"
                id="age"
                max = "50"
                formControlName="age"
                type="number"
                allowText="number"
                (change)="ageEntered()"
                defaultNull
                readonly
              />
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign">
            <mat-form-field appearance="outline" class="fieldAlignment fontStylefieldStyleDisabled">
              <mat-label class="fontStyleDisabled fieldStyleDisabled">{{ currentLanguageSet?.state}}</mat-label>
              <input 
                matInput
                placeholder=""
                class="fontStyleDisabled"
                id="stateID"
                formControlName="stateID"
                type="text"
                defaultNull
                readonly
              
              />
            </mat-form-field>
          </div>

      
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle fieldStyleDisabled">
              <mat-label class="fontStyleDisabled fieldStyleDisabled">{{ currentLanguageSet?.district}}</mat-label>
              <input 
                matInput
                placeholder=""
                class="fontStyleDisabled"
                id="districtID"
                formControlName="districtID"
                type="text"
                defaultNull
                readonly
              
              />
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle fieldStyleDisabled">
              <mat-label class="fontStyleDisabled fieldStyleDisabled">{{ currentLanguageSet?.block}}</mat-label>
              <input 
                matInput
                placeholder=""
                class="fontStyleDisabled"
                id="blockID"
                formControlName="blockID"
                type="text"
                defaultNull
                readonly
              
              />
            </mat-form-field>
          </div>


          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle fieldStyleDisabled">
              <mat-label class="fontStyleDisabled fieldStyleDisabled">{{ currentLanguageSet?.village}}</mat-label>
              <input 
                matInput
                placeholder=""
                class="fontStyleDisabled"
                id="districtBranchID"
                formControlName="districtBranchID"
                type="text"
                defaultNull
                readonly
              
              />
            </mat-form-field>
          </div>

      

          <!-- <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle">
            <mat-label  class="fontStyleDisabled">{{currentLanguageSet?.state}}</mat-label>
            <mat-select
              
              formControlName="stateID"
              [disabled]="true"
             
            >
              <mat-option *ngFor="let states of stateMasterList" [value]="states.stateID">
                {{ states.stateName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          </div> -->

          <!-- <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign" >
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle">
            <mat-label  class="fontStyleDisabled">{{currentLanguageSet?.district}}</mat-label>
            <mat-select
              
              formControlName="districtID"
              [disabled]="true"
             
            >
              <mat-option *ngFor="let districts of districtMasterList" [value]="districts.districtID">
                {{ districts.districtName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          </div> -->

          <!-- <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle">
            <mat-label  class="fontStyleDisabled">{{currentLanguageSet?.block}}</mat-label>
            <mat-select
              
              formControlName="blockID"
              [disabled]="true"
             
            >
              <mat-option *ngFor="let blocks of blockMasterList" [value]="blocks.blockID">
                {{ blocks.blockName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          </div> -->

          <!-- <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle">
            <mat-label  class="fontStyleDisabled">{{currentLanguageSet?.village}}</mat-label>
            <mat-select
              
              formControlName="districtBranchID"
              [disabled]="true"
             
            >
              <mat-option *ngFor="let villages of villageMasterList" [value]="villages.districtBranchID">
                {{ villages.villageName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          </div> -->


  

    

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle">
              <mat-label class="fontStyleDisabled">{{ currentLanguageSet?.healthBlock}}</mat-label>
              <input 
                matInput
                placeholder=""
                id="healthBlock"
                formControlName="healthBlock"
                type="text"
                defaultNull
                
              
              />
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle">
                <mat-label class="fontStyleDisabled">{{ currentLanguageSet?.phcName}}</mat-label>
                <input
                  matInput
                  placeholder=""
                  id="phcName"
                  formControlName="phcName"
                  type="text"
                  defaultNull
                  
                 
                />
              </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle fieldStyleDisabled">
                <mat-label class="fontStyleDisabled fieldStyleDisabled">{{ currentLanguageSet?.subFacilitySubCentres}}</mat-label>
                <input
                  matInput
                  class="fontStyleDisabled"
                  placeholder=""
                  id="subFacility"
                  formControlName="subFacility"
                  type="text"
                  defaultNull
                  readonly
               
                />
              </mat-form-field>
          </div>

     

      

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle">
              <mat-label class="fontStyle">{{ currentLanguageSet?.phoneNumber}}</mat-label>
              <input
                matInput
                placeholder=""
                class="fontStyle"
                id="phoneNo"
                formControlName="phoneNo"
                appMobileNumber
                maxlength="10"
                minlength="10"
                defaultNull
                required
              />
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle">
            <mat-label class="fontStyle">{{ currentLanguageSet?.phoneNumOfWhom}}</mat-label>
            <mat-select
            class="fontStyle"
              formControlName="phoneNoOf"
              required
            >
              <mat-option *ngFor="let number of phoneNumber" [value]="number.name">
                {{ number.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle">
                <mat-label class="fontStyle">{{ currentLanguageSet?.alternatePhoneNum}}</mat-label>
                <input
                  matInput
                  class="fontStyle"
                  placeholder=""
                  id="alternatePhoneNo"
                  formControlName="alternatePhoneNo"
                  appMobileNumber
                  minlength="10"
                  maxlength="10"
                  defaultNull
                  
                />
              </mat-form-field>
            </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle">
            <mat-label class="fontStyleDisabled">{{ currentLanguageSet?.ashaName}}</mat-label>
            <input
              matInput
              placeholder=""
              id="ashaName"
              formControlName="ashaName"
              type="text"
              defaultNull         
            />
          </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle">
            <mat-label  class="fontStyleDisabled">{{ currentLanguageSet?.ashaPhoneNum}}</mat-label>
            <input
              matInput
              placeholder=""
              id="ashaPhoneNo"
              formControlName="ashaPhoneNo"
              defaultNull
              appMobileNumber
              maxlength="10"
              minlength="10"
            />
          </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle">
            <mat-label class="fontStyleDisabled">{{ currentLanguageSet?.anmName}}</mat-label>
            <input
              matInput             
              placeholder=""
              id="anmName"
              formControlName="anmName"
              type="text"
            />
          </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle">
                <mat-label class="fontStyleDisabled">{{ currentLanguageSet?.anmPhoneNum}}</mat-label>
                <input
                  matInput
                  placeholder=""
                  id="anmPhoneNo"
                  formControlName="anmPhoneNo"
                  defaultNull
                  appMobileNumber
                  maxlength="10"
                  minlength="10"
                />
              </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign" *ngIf="enableMotherRecord && selectedRole === 'Associate'">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle">
                <mat-label class="fontStyle">{{ currentLanguageSet?.lmp}}</mat-label>
                <input 
                  matInput 
                  [min]="minDate"
                  [max] = "maxDate"
                  [matDatepicker]="lmpPicker" 
                  [required]="enableMotherRecord"
                  (dateChange) = "calculateEdd()"
                  formControlName="lmpDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="lmpPicker" ></mat-datepicker-toggle>
                <mat-datepicker #lmpPicker></mat-datepicker>
              </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign" *ngIf="enableMotherRecord && selectedRole !== 'Associate'">
            <mat-form-field appearance="outline" class="fieldAlignment fontStyle fieldStyleDisabled">
                <mat-label class="fontStyle">{{ currentLanguageSet?.lmp}}</mat-label>
                <input 
                  matInput 
                  
                  [min]="minDate"
                  [max] = "maxDate"
                  [matDatepicker]="lmpPicker" 
                  [required]="enableMotherRecord"
                  (dateChange) = "calculateEdd()"
                  
                  formControlName="lmpDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="lmpPicker"></mat-datepicker-toggle>
                <mat-datepicker #lmpPicker></mat-datepicker>
              </mat-form-field>
          </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign" *ngIf="enableMotherRecord">
              <mat-form-field appearance="outline" class="fieldAlignment fontStyle">
                  <mat-label class="fontStyle">{{ currentLanguageSet?.edd}}</mat-label>
                  <input 
                    matInput 
                    class="fontStyleDisabled"
                    [matDatepicker]="eddPicker" 
                    [required]="enableMotherRecord"
                    readonly
                    formControlName="edd">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="eddPicker" disabled></mat-datepicker-toggle>
                  <mat-datepicker #eddPicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign" *ngIf="!enableMotherRecord">
              <mat-form-field appearance="outline" class="fieldAlignment fontStyle ">
                  <mat-label class="fontStyleDisabled">{{ currentLanguageSet?.dob}}</mat-label>
                  <input 
                    matInput 
                    [readonly]="selectedRole !== 'Associate'"
                    class="fontStyle"
                    [max] = "maxDate"
                    [min] = "minimumDate"
                    [matDatepicker]="picker" 
                    [required]="enableMotherRecord ? true : false"
                    formControlName="dob">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

   

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box marginAlign">
              <mat-form-field appearance="outline" class="fieldAlignment fontStyle fieldStyleDisabled">
                <mat-label class="fontStyleDisabled">{{ currentLanguageSet?.ecdCallType}}</mat-label>
                <input
                  matInput
                  class="fontStyleDisabled fieldStyleDisabled"
                  placeholder=""
                  id="displayOBCallType"
                  formControlName="displayOBCallType"
                  defaultNull
                  readonly
            
                />
              </mat-form-field>
          </div>

          <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 box marginAlignAdd">
            <mat-form-field appearance="outline" [style.width]="'100%'" class="fontStyle">
                <mat-label class="fontStyle">{{ currentLanguageSet?.address}}</mat-label>
                <textarea
                  style="height: 70px"
                  class="fontStyle"
                  matInput
                  appTextarea
                  placeholder=""
                  id="address"
                  formControlName="address"
                  maxlength="500"
                  
                  defaultNull
                ></textarea>
              </mat-form-field>
            </div>
          </div>

          <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right"
          style="margin-top: 100px"
          >
            <button 
              style="margin-right: 5px;" 
              mat-raised-button 
              class="buttonColorRedish full-width buttonWidth" 
              (click)="goToClosure()">
              {{ currentLanguageSet?.closure}}
            </button>
            
            <button
            *ngIf="(selectedRole === 'Associate') && !enableUpdateButton"
              mat-raised-button
              class="buttonColorGreen full-width buttonWidth"
              type="submit"
              style="margin-right: 10px"
              (click)="onSubmit()"
              [disabled] = "!benRegistrationForm.valid"> 

              {{ currentLanguageSet?.submit}}
            </button>

            <button
              *ngIf="(selectedRole === 'MO' || selectedRole === 'ANM') || enableUpdateButton"
              mat-raised-button
              class="buttonColorGreen full-width buttonWidth"
              type="submit"
              style="margin-right: 10px"
              [disabled] = "!benRegistrationForm.valid || !benRegistrationForm.dirty"
              (click)="onUpdate()"> 
              {{ currentLanguageSet?.update}}
            </button>
          </div>


        </form>
        <div style="float: right;  margin-right: -25px;"> <app-czentrix-iframe></app-czentrix-iframe></div>
      </mat-card>
    </div>