mat-form-field {
    color: #00071E;
    margin-right: 20px;
    margin-left: 10px;
    width: 250px;
}

.mainHeadingDiv {
  margin-top: 15px;
  /* margin-left: 30px; */
}

.mainHeading {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.button {
    background-color: rgba(0, 183, 255, 0.534);
    margin-right: 10px;
}

button{
    cursor: pointer;
}

.fontStyle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.innerCard {
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 99%;
    background-color: #f2f2f2;
    border: 1px solid #4fa2d0;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px !important;
    margin-bottom: 40px;
  }

.full-width {
    height: 40px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #ffffff;
    margin-top: 15px;
    width: 100%;
    max-width: 150px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  mat-icon{
    cursor: pointer;
}

table {
    width: 100%;
    border-spacing: 0 8px !important;
    border-collapse: separate !important;
    background-color: #f2f2f2;
    font-family: "Lato", sans-serif;
  }
  
  th.mat-header-cell {
    color: #00071e;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 5px 15px 5px 60px;
    text-align: left;
  }
  
  td.mat-cell {
    border-bottom: 1px solid #4fa2d0;
    border-top: 1px solid #4fa2d0;
    background-color: #ffffff;
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 5px 15px 5px 20px;
  }
  
  td.mat-cell:first-child {
    border-left: 1px solid #4fa2d0;
    background-color: #ffffff;
  }
  
  td.mat-cell:last-child {
    border-right: 1px solid #4fa2d0;
    background-color: #ffffff;
  }

  .full-width {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #ffffff;
    /* width: 100%;
    max-width: 150px; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  mat-paginator {
    background-color: hsl(0, 0%, 95%);
  }

  .fontStyleButton {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 14px;
  }