<div class="mainContainer">
    <div  class="row">
        <div class="col-xs-12 col-sm-6 p-r-lg-0">
            <mat-card>
                <mat-card-title>
                    <div class="pull-right">
                        <p class="timeDisplay fontStyle">
                        <strong> {{ today | date : "dd/MM/YYYY - h:mm:ss" }}</strong>
                        </p>
                    </div>
                    <div>
                        <img style="width: 170px; height: 80px"
                    src="assets/images/piramalFoundation.png" alt="Logo" />
                    </div>
                    <h1><b>Account Support</b></h1>
                    <h5>Follow the steps to change/reset the password</h5>
                </mat-card-title>
            <mat-card-content>
            <form [formGroup]="forgotpasswordform">
                <mat-card-content *ngIf="!showQuestions">
                    <mat-form-field appearance="outline" style="margin-top: 10px" class="blueInput fontStyle">
                        <mat-label>Enter User Name</mat-label>
                        <input matInput placeholder="" appUsernameValidator formControlName="userName" name="userName" required />
                        <mat-error *ngIf="forgotpasswordform.get('userName')?.invalid && (forgotpasswordform.get('userName')?.dirty || forgotpasswordform.get('userName')?.touched)">
                        <mat-error *ngIf="forgotpasswordform.get('userName')?.errors?.['required']">
                        Name is required.
                        </mat-error>
                        <mat-error *ngIf="forgotpasswordform.get('userName')?.errors?.['minlength']">
                        Name must be at least 2 characters long.
                        </mat-error>
                        </mat-error>
                    </mat-form-field>
                    <div style="margin: 20px">
                        <button class="buttonColorRed"
                        mat-raised-button 
                        style="margin-right: 15px; width: 150px"
                        (click)="backToLogin()"
                        > Back 
                    </button> 
                    <button class="buttonColor"
                        mat-raised-button 
                        style="width: 150px"
                        [disabled]="!forgotpasswordform.get('userName')?.valid"
                        (click)="validateUsernameAndGetQuestions()"
                        > Next 
                    </button>
                    </div>
                </mat-card-content>
                <mat-card-content *ngIf="showQuestions">
                    <div class="align" *ngFor="let questions of securityQues; let i=index">
                        <b>{{ i+1 }}. </b>
                        <b>{{ questions.question }}</b>
                    <br>
                    <mat-form-field style="margin-top: 10px" class="blueInput fontStyle">
                    <input class="blueInput fontStyle" matInput placeholder="Enter Answer" answerValidator formControlName="answer{{i}}" name="answer" required />
                    </mat-form-field>
                    </div>
                    <button mat-raised-button class="cursorPointer fontstyle submitButton" (click)="validateSecurityAnswers()" [disabled]="!forgotpasswordform.valid"> submit 
                    </button>
                </mat-card-content>
            </form>
            </mat-card-content>
            </mat-card>
        </div>
    <div class="col-xs-12 col-sm-6" style="margin-top: 98px">
        <img
            src="assets/images/ECD_Image.png"
            alt="ECD"
            class="img-fluid imgECD"
        />
        </div>
    </div>
</div>