.help-block {
    color: red;
}

.file-upload{
    color: grey;
}

.form-group {
    margin-bottom: 15px;
}

.csss {
    border: 2px solid lightgray;
    margin: 5px 5px 0px 5px;
    border-radius: 20px;
}

.option{
    /* margin-left: 10px; */
    font-weight: 500;
}

.mat-raised-button {    
    background-color: #4FA2D0;
    border-radius: 30px;
    margin-right: 10px;
}

.alexcolor {
    font-weight: 500;
    margin-top: 10px;

}

/* .mat-card {
    background:  #F2F2F2;
}  */

.fontStyle {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 24px;
  }
  
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  
.mat-radio-button {
    color: #4FA2D0;
    font-weight: 700;
    font-size: 17px;
    font-family: "Lato", sans-serif;
    font-size: 17px;
  }
  
.mat-radio-outer-circle {
    border-color: #4FA2D0 !important;
  }

.buttonFontStyle {
    /* width: 150px;
    height: 46px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #4FA2D0; */
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    /* position: absolute; */
    width: 170px;
    height: 46px;
    float: right;
    /* top: 220px; */

    background: #4FA2D0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.mainCard {
  margin-top: 20px;
    /* height: 535px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px; */
    height: auto;
    /* color: white; */
    width: 100%;
    background-color: #F2F2F2;
    border: 1px solid #4FA2D0;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px !important; 
  }

.inner {
    display: inline-block;
  }

.browseCard {
    width: 100%;
    max-width: 545px;
    height: 220px;
    background-color: #FFFFFF;
    border: 2px dashed #4FA2D0;
    border-radius: 4px;
    text-align: center;
  }

.textColor {
    color: #4fa2d0;
    text-decoration: underline;
  }

.textBrowser {
    width: 227px;
    height: 26px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #00071E;
  }

.labelcolor {
    width: 300px;
    height: 50px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #676767;
  }

.uploadButton {
  width: 400px;
  height: 40px;
  background-color: #4FA2D0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.uploadButtonForTemplate {
  width: 100%;
  height: 40px;
  background-color: #4FA2D0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.UploadBox{
  margin-bottom: 10px;
  width: 543px;
  border: 2px dashed #4FA2D0;
  text-align: -webkit-center;
  background-color: #FFFFFF;
  padding-bottom: 50px;
  width: 100%;
}
.SuccessCard{
border-radius: 10px;
background-color: #239438;
margin-bottom: 10px;
color: #FFFFFF;
}
.FailedCard{
border-radius: 10px;
background-color:  #E14646;
margin-bottom: 10px;
color: #FFFFFF;
}
.uploadedFileRecord{
  width: 100%;
  border: 2px solid #4FA2D0;
}
.fileDetails{
  margin: 0px;
  padding: 15px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #00071E;
}
.spinner-color circle {
  stroke: #4fa2d0 !important;
}
.fileContent{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
