<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mainHeadingDiv">
    <h2 class="mainHeading">
      {{ currentLanguageSet?.createGradeConfiguration }}
    </h2>
  </div>

  <mat-card class="innerCard">
    <mat-card-content>
      <form class="row" [formGroup]="createGradeConfigurationForm"
        autocomplete="off"
        style="margin-top: 10px"
        *ngIf="!enableEdit"
      >
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box">
        <mat-form-field class="fontStyle backgroundWhite" appearance="outline" id="gradeId" style="width:100%">
          <mat-label>{{ currentLanguageSet?.grades }}</mat-label>
          <mat-select
            formControlName="gradeId"
            (selectionChange)="setGrade(createGradeConfigurationForm.controls['gradeId'].value)"
            required
          >
            <mat-option
              *ngFor="let grade of gradeList"
              [value]="grade.id"
            >
              {{ grade.name }}
            </mat-option>
          </mat-select>
          
          <mat-error
            *ngIf="createGradeConfigurationForm.controls['gradeId'].errors?.['required']"
          >
          {{ currentLanguageSet?.gradeRequired }}
            </mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box">
        <mat-form-field  class="fontStyle backgroundWhite"appearance="outline" [style.width]="'100%'">
          <mat-label>{{ currentLanguageSet?.minimumValue }}</mat-label>
          <input
            matInput
            placeholder=""
            id="minValue"
            formControlName="minValue"
            myMobileNumber
            type="number"
            maxlength="0"
            [min]="1"
            [max]="100"
            defaultNull
            required
          />
    
          <mat-error
            *ngIf="createGradeConfigurationForm.controls['minValue'].errors?.['required']"
          >
          {{ currentLanguageSet?.minimumValueRequired}}</mat-error
          >

          <mat-error
            *ngIf="createGradeConfigurationForm.controls['minValue'].errors?.['min']"
          >
          {{ currentLanguageSet?.MaximumLength100 }}
           </mat-error
          >
          <mat-error
            *ngIf="createGradeConfigurationForm.controls['minValue'].errors?.['max']"
          >
          {{ currentLanguageSet?.MaximumLength100 }}
           </mat-error
          >
        </mat-form-field>
        
        
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box">
        <mat-form-field class="fontStyle backgroundWhite" appearance="outline" [style.width]="'100%'">
          <mat-label>{{ currentLanguageSet?.maximumValue }}</mat-label>
          <input
            matInput
            placeholder=""
            id="maxValue"
            formControlName="maxValue"
            myMobileNumber
            type="number"
            maxlength="0"
            [min]="1"
            [max]="100"
            defaultNull
          />
    
          <mat-error
            *ngIf="createGradeConfigurationForm.controls['maxValue'].errors?.['required']"
          >
          {{ currentLanguageSet?.maximumValueRequired }}
           </mat-error
          >
          <mat-error
            *ngIf="createGradeConfigurationForm.controls['maxValue'].errors?.['max']"
          >
          {{ currentLanguageSet?.MaximumLength100 }}
           </mat-error
          >
          <mat-error
          *ngIf="createGradeConfigurationForm.controls['maxValue'].errors?.['min']"
        >
        {{ currentLanguageSet?.gradeRequired }}
          </mat-error
        >
          <mat-error
            *ngIf="createGradeConfigurationForm.controls['maxValue'].hasError('valueGreater')">
            {{ currentLanguageSet?.maximumValueGreater }}</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box fields-width">
        <div class="col-sm-12 step-btn m-b-20"
        >
          <button style="margin-top: 10px;"
            [disabled]="
              !createGradeConfigurationForm.valid"
            mat-raised-button
            class="buttonColor full-width"
            type="button"
            (click)="addGrades(createGradeConfigurationForm.value)"
          >
          {{ currentLanguageSet?.addGrade }}
          </button>
        </div>
      </div>
       <!-- Table code -->
       <div
       style="margin-top: 30px"
       *ngIf="dataSource.data.length > 0 && !enableEdit"
     >
       <table mat-table [dataSource]="dataSource" aria-describedby="questionsList">
         <ng-container matColumnDef="grade">
           <th mat-header-cell *matHeaderCellDef>{{ currentLanguageSet?.grades }}</th>
           <td mat-cell *matCellDef="let element">{{ element.grade }}</td>
         </ng-container>
     
         <ng-container matColumnDef="minValue">
           <th mat-header-cell *matHeaderCellDef>
            {{ currentLanguageSet?.minimumValue }}
           </th>
           <td mat-cell *matCellDef="let element">
             {{ element.minValue }}
           </td>
         </ng-container>
     
         <ng-container matColumnDef="maxValue">
           <th mat-header-cell *matHeaderCellDef>
            {{ currentLanguageSet?.maximumValue }}
           </th>
           <td mat-cell *matCellDef="let element">
             {{ element.maxValue }}
           </td>
         </ng-container>
         <ng-container matColumnDef="actions">
           <th mat-header-cell *matHeaderCellDef>
            {{ currentLanguageSet?.delete }}
           </th>
           <td mat-cell *matCellDef="let element">
             <mat-icon
               class="cursorPointer"
               matTooltip="{{ currentLanguageSet?.delete }}"
               (click)="removeGradeConfiguration(dataSource.data.indexOf(element))"
               >delete</mat-icon
             >
           </td>
         </ng-container>
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
       </table>
       <mat-paginator
         [pageSizeOptions]="[5, 10, 20]"
         [pageSize]="5"
         showFirstLastButtons
         aria-label="Select page of Grade elements"
       >
       </mat-paginator>
     </div>
     <!-- End of Table code-->


      <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-toolbar pull-right"
          style="margin-top: 20px;justify-content: right;"
        >
          <button
            mat-raised-button
            class="buttonColorRed full-width buttonWidth"
            (click)="back()"
            type="button"
          >
          {{ currentLanguageSet?.back }}
          </button>
          <button
            mat-raised-button
            class="buttonColorGreen full-width buttonWidth"
            style="margin-left: 10px"
            type="reset"
            (click)="saveGrade()"
            [disabled]="dataSource.data.length == 0"
          >
          {{ currentLanguageSet?.submit }}
          </button>
      </div>
    </form>
    </mat-card-content>
  </mat-card>
