.mainHeadingDiv {
    margin-top: 15px;
    /* margin-left: 30px; */
  }
  
  .mainHeading {
    font-size: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    margin-left: 30px;
  }

  .inner {
    display: inline-block;
  }
  
  .innerCard{
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 99%;
    background-color: #f2f2f2;
    border: 1px solid #4fa2d0;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px !important;
    margin-bottom: 20px;
  }
  
  .headerCard {
    margin-top: -16px !important;
    height: 65px;
    width: 1240px;
    background-color: #ffc30b;
    color: #ffffff;
    margin-left: -16px;
    /* padding: 0px; */
    margin-right: -16px;
    margin-bottom: 20px;
  }
  
  .arrowButton {
    background-color: #ffffff;
    margin-bottom: 5px;
    margin-left: 5px;
    color: #4fa2d0;
  }
  
  .mainCard {
    min-height: 520px;
    margin-top: 5px;
    margin-left: 15px;
    max-height: fit-content;
  }
  
  mat-form-field {
    color: #ffffff;
  }
  .full-width {
    height: 40px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #ffffff;
    margin-top: 15px;
    width: 100%;
    max-width: 150px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .fields-width{
    width: 250px
  }
  .mat-input-element{
    font-size: 16px;
    color: black;
  }

  table {
    width: 100%;
    border-spacing: 0 8px !important;
    border-collapse: separate !important;
    background-color: #f2f2f2;
    font-family: "Lato", sans-serif;
  }
  
  td.mat-cell {
    font-size: 16px;
    border-bottom: 1px solid #4fa2d0;
    border-top: 1px solid #4fa2d0;
    background-color: #ffffff;
    padding: 5px 15px 5px 15px;
    text-align: center;
  }
  
  th.mat-header-cell {
    font-size: 20px;
    padding: 5px 15px 5px 15px;
    color: #00071e;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
  
  td.mat-cell:first-child {
    border-left: 1px solid #4fa2d0;
    background-color: #ffffff;
  }
  
  td.mat-cell:last-child {
    border-right: 1px solid #4fa2d0;
    background-color: #ffffff;
  }
  
  mat-paginator {
    background-color: hsl(0, 0%, 95%);
  }  

  .fontStyle {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #00071e;
  }