<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mainHeadingDiv">
    <h2 class="mainHeading">
      {{ currentLanguageSet?.editSampleConfiguration }}
    </h2>
  </div>

  <mat-card class="innerCard">
    <mat-card-content>
      <form class="row" [formGroup]="editSampleConfigurationForm"
        autocomplete="off"
        style="margin-top: 10px"
        *ngIf="enableEdit"
      >
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box m-bottom">
        <mat-form-field  class="backgroundWhite" appearance="outline" id="cycleId" style="width:100%">
          <mat-label>Cycles</mat-label>
          <mat-select
            formControlName="cycleId"
            (selectionChange)="setCycleForEdit(editSampleConfigurationForm.controls['cycleId'].value)"
            required
          >
            <mat-option
              *ngFor="let cycle of cycleList"
              [value]="cycle.id"
            >
              {{ cycle.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box m-bottom">
        <mat-form-field  class="backgroundWhite" appearance="outline" [style.width]="'100%'">
          <mat-label>From Day</mat-label>
          <input
            matInput
            placeholder=""
            id="fromDay"
            formControlName="fromDay"
            appMobileNumber
            type="number"
            maxlength="0"
            [min]="1"
            [max]="30"
            defaultNull
            required
          />
    
          <mat-error
            *ngIf="editSampleConfigurationForm.controls['fromDay'].errors?.['required']"
          >
           From Day is Required</mat-error
          >
        </mat-form-field>
        
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box m-bottom">
        <mat-form-field class="backgroundWhite" appearance="outline" [style.width]="'100%'">
          <mat-label>To Day</mat-label>
          <input
            matInput
            placeholder=""
            id="toDay"
            formControlName="toDay"
            appMobileNumber
            type="number"
            maxlength="0"
            [min]="1"
            [max]="31"
            defaultNull
            required
          />
    
          <mat-error
            *ngIf="editSampleConfigurationForm.controls['toDay'].errors?.['required']"
          >
            To Day is Required</mat-error
          >
          <mat-error
            *ngIf="editSampleConfigurationForm.controls['toDay'].hasError('valueGreater')">
            To Date should be greater than From Date</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box ">
        <mat-form-field class="backgroundWhite" appearance="outline" [style.width]="'100%'">
          <mat-label>Sample Size for ANC</mat-label>
          <input
          (input)="calculateMe(editSampleConfigurationForm.controls['pncSampleSize'].value ,
          editSampleConfigurationForm.controls['ancSampleSize'].value )"
            matInput
            placeholder=""
            id="ancSampleSize"
            formControlName="ancSampleSize"
            appMobileNumber
            type="number"
            maxlength="0"
            [min]="0"
            [max]="100"
            defaultNull
            required
          />

    
          <mat-error
            *ngIf="editSampleConfigurationForm.controls['ancSampleSize'].errors?.['required']"
          >
            ANC Sample Size is Required</mat-error
          >
          <!-- <mat-error
            *ngIf="createGradeConfigurationForm.controls['gradeMax'].hasError('valueGreater')">
             Maximum value should be greater than minimum value</mat-error
          > -->
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box">
        <mat-form-field class="backgroundWhite" appearance="outline" [style.width]="'100%'">
          <mat-label>Sample Size for PNC</mat-label>
          <input 
           (input)="calculateMe(editSampleConfigurationForm.controls['pncSampleSize'].value ,
           editSampleConfigurationForm.controls['ancSampleSize'].value )"
            matInput
            placeholder=""
            id="pncSampleSize"
            formControlName="pncSampleSize"
            appMobileNumber
            type="number"
            maxlength="0"
            [min]="0"
            [max]="100"
            defaultNull
            required
          />
    
          <mat-error
            *ngIf="editSampleConfigurationForm.controls['pncSampleSize'].errors?.['required']"
          >
            PNC Sample Size is Required</mat-error
          >
          <!-- <mat-error
            *ngIf="createGradeConfigurationForm.controls['gradeMax'].hasError('valueGreater')">
             Maximum value should be greater than minimum value</mat-error
          > -->
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box">
        <mat-form-field class="backgroundWhite" appearance="outline" [style.width]="'100%'">
          <mat-label>Total Sample Size</mat-label>
          <input
            matInput
            placeholder=""
            id="totalSampleSize"
            formControlName="totalSampleSize"
            appMobileNumber
            type="number"
            [min]="1"
            [max]="100"
            defaultNull
            required
            readonly
          />
    
          <mat-error
            *ngIf="editSampleConfigurationForm.controls['totalSampleSize'].errors?.['required']"
          >
            Total Sample Size is Required</mat-error
          >
          <mat-error
            *ngIf="editSampleConfigurationForm.controls['totalSampleSize'].hasError('min')"
          >
           Total sample size should be greater than zero</mat-error
          >
          <!-- <mat-error
            *ngIf="createGradeConfigurationForm.controls['gradeMax'].hasError('valueGreater')">
             Maximum value should be greater than minimum value</mat-error
          > -->
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-toolbar pull-right"
          style="margin-top: 20px;justify-content: right;"
        >
          <button
            mat-raised-button
            class="buttonColorRed full-width buttonWidth"
            (click)="back()"
            type="button"
          >
            Back
          </button>
          <button
            mat-raised-button
            class="buttonColorGreen full-width buttonWidth"
            style="margin-left: 10px"
            type="submit"
            [disabled]="!editSampleConfigurationForm.valid || !editSampleConfigurationForm.dirty"
            (click)="updateCycle(editSampleConfigurationForm.value)"
          >
            Update
          </button>
      </div>
    </form>
    </mat-card-content>
  </mat-card>
