<div class="row" style="margin:0px"> 
  <div
    class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mainHeadingDiv">
<h2 class="mainHeading">{{currentLanguageSet?.editAlert}}</h2>
  </div>
</div>
<mat-card class="innerCard" >
    <mat-card-content>
      <form class="row" [formGroup]="editAlertForm" style="margin-top: 10px">
      <!-- <div class="row"> -->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box" style="margin-right: 15px;">
              <mat-form-field class="backgroundWhite fieldAlignment fontStyle"
              style="width: 300px; font-size: 15px !important;" appearance="outline" >
                <mat-label class="fontStyle">{{currentLanguageSet?.enterDateRange}}</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [min]="minDate">
                  <input
                    matStartDate
                    formControlName="start"
                    placeholder="{{currentLanguageSet?.validFrom}}"
                    required
                    (dateChange)="validateTime(range.controls.start.value, range.controls.end.value,editAlertForm.controls['startTime'].value,editAlertForm.controls['endTime'].value)"

                  />
                  <input
                    matEndDate
                    formControlName="end"
                    placeholder="{{currentLanguageSet?.validTill}}"
                    required
                    (dateChange)="validateTime(range.controls.start.value, range.controls.end.value,editAlertForm.controls['startTime'].value,editAlertForm.controls['endTime'].value)"
                  />
                </mat-date-range-input>
                <mat-hint class="font-style">MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
  
                <mat-error
                *ngIf="range.controls.start.hasError('matStartDateInvalid')"
                >{{ currentLanguageSet?.invalidStartDate }}</mat-error
              >
              <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">{{
                currentLanguageSet?.invalidEndDate
              }}</mat-error>
              </mat-form-field>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box">
              <mat-form-field class="backgroundWhite fieldAlignment fontStyle" appearance="outline" style="width: 100%">
                <mat-label class="fontStyle">Start Time</mat-label>
                <input
                  matInput
                  type="time"
                  placeholder="Start Time"
                  formControlName="startTime"
                  required
                  
                  (change)="validateTime(range.controls.start.value, range.controls.end.value,editAlertForm.controls['startTime'].value,editAlertForm.controls['endTime'].value)"
                />
                <mat-timepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-timepicker-toggle>
                <mat-timepicker #picker></mat-timepicker>
              </mat-form-field>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box">
              <mat-form-field class="backgroundWhite fieldAlignment fontStyle" appearance="outline" style="width: 100%">
                <mat-label class="fontStyle">End Time</mat-label>
                <input
                  matInput
                  type="time"
                  placeholder="End Time"
                  formControlName="endTime"
                  required
                  
                  (change)="validateTime(range.controls.start.value, range.controls.end.value,editAlertForm.controls['startTime'].value,editAlertForm.controls['endTime'].value)"

                />
                <mat-timepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-timepicker-toggle>
                <mat-timepicker #picker></mat-timepicker>
                <mat-hint>
                  <span class="error_text " 
                  *ngIf="invalidTimeFlag && (editAlertForm.controls['startTime'].value !== editAlertForm.controls['endTime'].value)">
                        {{currentLanguageSet?.endTimeCannotBeLessThanStartTime}}
                  </span>
                  <span class="error_text" 
                        *ngIf="invalidTimeFlag && (editAlertForm.controls['startTime'].value ===editAlertForm.controls['endTime'].value)">
                        {{currentLanguageSet?.startTimeAndEndTimeCannotBeSame}}
                  </span>
                </mat-hint>
              </mat-form-field>
            </div>
            <!-- </div> -->
            <div class="row" style="margin-top: 20px;">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-6 box" style="margin-top: 10px;">
              <mat-form-field class="backgroundWhite fieldAlignment fontStyle" appearance="outline" style="width: 100%">
                <mat-label class="fontStyle">{{currentLanguageSet?.subject}}</mat-label>
                <input
                  matInput
                  appInputField
                  #subject
                  defaultNull
                  minlength="5"
                  maxlength="100"
                  formControlName="subject"
                />
                <mat-error
                  *ngIf="
            editAlertForm.controls.subject.errors
                      ?.['required']
                  "
                >
                  {{ currentLanguageSet?.subjectIsRequired }}</mat-error
                >
                <mat-error
                  *ngIf="
            editAlertForm.controls.subject.errors
                      ?.['minlength']
                  "
                  >{{
                    currentLanguageSet?.subjectIsRequiredMin5Characters
                  }}</mat-error
                >
                <mat-error
                  *ngIf="
            editAlertForm.controls.subject.errors
                      ?.['maxlength']
                  "
                  >{{
                    currentLanguageSet?.pleaseProvideMaximumHundredCharacter
                  }}</mat-error
                >
              </mat-form-field>
              </div>
              </div>
              <div class="row" style="margin-top: 25px;">
                <div  class="col-xs-12  col-lg-12 p-t-4" >
              <mat-form-field class="backgroundWhite questionnaireOptionsAlign fontStyle" [style.width]="'70%'" appearance="outline">
                <mat-label class="fontStyle">{{currentLanguageSet?.message}}</mat-label>
                <textarea
                 style="height: 50px"
                  matInput
                  appTextarea
                  #message
                  minlength="5"
                  maxlength="300"
                  formControlName="message"
                ></textarea>
                <mat-error
                  *ngIf="
            editAlertForm.controls.message.errors
                      ?.['required']
                  "
                >
                  {{ currentLanguageSet?.messageIsRequired }}</mat-error
                >
                <mat-error
                  *ngIf="
            editAlertForm.controls.message.errors
                      ?.['minlength']
                  "
                  >{{
                    currentLanguageSet?.messageIsRequiredMin5Characters
                  }}</mat-error
                >
                <mat-error
                  *ngIf="
            editAlertForm.controls.message.errors
                      ?.['maxlength']
                  "
                  >{{
                    currentLanguageSet?.pleaseProvideMaximumThreeHundredCharacter
                  }}</mat-error
                >
              </mat-form-field>
              </div>
              </div>

              <div
              class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right"
              style="margin-top: 20px"
            >
            <button
            mat-raised-button
            color="primary"
            class="buttonColorRed full-width buttonWidth"
            type="button"
            (click)="showTable()"
          >
            {{ currentLanguageSet?.back }}
          </button>
          <button
          mat-raised-button
          color="accent"
          class="buttonColorGreen full-width buttonWidth"
          type="button"
          (click)="saveEditAlertForm()"
          [disabled]="
          !editAlertForm.valid ||
          !editAlertForm.dirty|| invalidTimeFlag === true
        "
        >
          {{ currentLanguageSet?.update }}
        </button>
            </div>
          </form>
    </mat-card-content>
  </mat-card>