<div class="mainContainer" style="padding-top: 4em">
    <mat-card>
        <div>
            <img style="width: 220px; height: 105px;"
            src="assets/images/piramalFoundation.png" alt="Logo" />
        </div>
        
    <h1><b>Account Support</b></h1>
    <h5>Follow the steps to change/reset the password</h5>
    <mat-card-content>
        <form [formGroup]="setpasswordform">
            <mat-form-field appearance="outline" class="password">
                <mat-label>New Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" passwordValidator formControlName="newPassword" name="newPassword" required />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>            
                <mat-error *ngIf="setpasswordform.get('newPassword')?.invalid || (setpasswordform.get('newPassword')?.dirty || setpasswordform.get('newPassword')?.touched)">
                <mat-error *ngIf="setpasswordform.get('newPassword')?.errors?.['required']">
                This field is required
                </mat-error>
                <mat-error *ngIf="setpasswordform.get('newPassword')?.errors?.['pattern']">
                password should contain atleast 1 upper case, 1 lower case, 1 special character, 1 number and min 8 and max 12 characters long
                </mat-error>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="password">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" passwordValidator formControlName="confirmPassword" name="confirmPassword" required />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="setpasswordform.get('confirmPassword')?.invalid || (setpasswordform.get('confirmPassword')?.dirty || setpasswordform.get('confirmPassword')?.touched)">
                <mat-error *ngIf="setpasswordform.get('confirmPassword')?.errors?.['required']">
                This field is required
                </mat-error>
                <mat-error *ngIf="setpasswordform.get('confirmPassword')?.errors?.['pattern']">
                password should contain atleast 1 upper case, 1 lower case, 1 special character, 1 number and min 8 characters long
                </mat-error>
                </mat-error>
            </mat-form-field>
            <div>
            <button 
                mat-raised-button 
                class="cursorPointer fontStyle submitButton "
                [disabled]="!setpasswordform.valid"
                (click)="updatePassword()"
                > Submit 
            </button>
            </div>
    </form>
    </mat-card-content>

    </mat-card>
</div>