.mainHeadingDiv {
    margin-top: 15px;
    margin-left: 30px;
}

.mainHeading {
    font-size: 22px;
    font-weight: 600;
}

.fontStyle {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.innerCard {
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 99%;
    background-color: #f2f2f2;
    border: 1px solid #4fa2d0;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px !important;
    margin-bottom: 20px;
}

.radio-button-styling {
    font-family: 'Lato';
    font-style: normal;
     /* font-weight: 400; */
    /* font-size: 20px; */
    line-height: 24px;
    /* identical to box height */


    color: #00071E;
}

.m-10{
    margin-left: 10px;
}

.full-width {
    height: 40px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #ffffff;
    margin-top: 15px;
    width: 100%;
    max-width: 150px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  ::ng-deep  #check .iframeButton {
    background-color: red;
  }
  .m-bottom{
    margin-bottom: 10px;
  }