<div class="row" style="margin:0px">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mainHeadingDiv">
      <h2 class="inner fontStyle">
        {{ currentLanguageSet?.questionnaireMapping }}
      </h2>
      <button
        mat-raised-button
        class="buttonColor inner createButton fontStyleButton"  
        (click)="openCreateQuestionnaireMapping()"
      >
        {{ currentLanguageSet?.createQuestionaireMapping }}
      </button>
    </div>
    </div>
    <div calss="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <mat-card class="innerCard">
          <div *ngIf="mappedQuestionaireList.length>0" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right">
            <mat-form-field appearance="outline" id="filterbox" class="pull-right searchInput blueInput">
              <mat-label class="labelColor">{{
                currentLanguageSet?.inTableSearch
              }}</mat-label>
              <input
                matInput
                [(ngModel)]="searchTerm"
                name="searchTerm"
                placeholder=""
                #filterTerm
                (keyup)="filterSearchTerm(filterTerm.value)"
              />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div class="mat-elevation-z8 responsiveTable" style="margin-top: 30px">
            <table
              mat-table
              [dataSource]="dataSource"
              aria-describedby="GradeList"
              matSort>
              <ng-container matColumnDef="sno">
                <th mat-sort-header mat-header-cell style="border-bottom: none"mat-sort-header *matHeaderCellDef>{{ currentLanguageSet?.sno }}</th>
                <td mat-cell *matCellDef="let element">
                  {{element.sno}}
                </td>
              </ng-container>
          
              <ng-container matColumnDef="pQuestion">
                <th mat-header-cell style="border-bottom: none" *matHeaderCellDef mat-sort-header>
                  {{ currentLanguageSet?.parentQuestion }}
                </th>
                <td mat-cell *matCellDef="let element">{{ element.parentQuestion }}</td>
              </ng-container>
          
              <ng-container matColumnDef="answer">
                <th mat-header-cell style="border-bottom: none" *matHeaderCellDef>
                  {{ currentLanguageSet?.answer }}
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.answer }}
                </td>
              </ng-container>
          
              <ng-container matColumnDef="cQuestion">
                <th mat-header-cell  style="border-bottom: none" *matHeaderCellDef>
                  {{ currentLanguageSet?.childQuestion }}
                </th>
                <td mat-cell *matCellDef="let element" class="truncate-cell">
                  {{ element.childQuestion }}
                </td>
              </ng-container>
          
              <ng-container matColumnDef="edit">
                <th mat-header-cell  *matHeaderCellDef style="padding-left: 20px;border-bottom: none">
                  {{ currentLanguageSet?.edit }}
                </th>
                <td mat-cell *matCellDef="let element" style="padding-left: 20px">
                  <mat-icon
                    matTooltip="{{ currentLanguageSet?.edit }}"
                    class="mat-icon material-icons"
                    role="img"
                    aria-hidden="true"
                    style="cursor: pointer"
                    (click)="editQuestionMapping(element)"
                    *ngIf="!element.deleted"
                    >edit</mat-icon
                  >
                </td>
              </ng-container>
          
              <ng-container matColumnDef="delete">
                <th mat-header-cell  style="border-bottom: none" *matHeaderCellDef >
                  {{ currentLanguageSet?.action }}
                </th>
                <td mat-cell *matCellDef="let element">
                  <button
                    *ngIf="element.deleted == true"
                    mat-raised-button
                    class="buttonColorGreen full-width buttonWidth"
                    (click)="activateDeactivateQuestionnaire(element, 'activate')"
                    >
                    {{ currentLanguageSet?.activate }}
                  </button>
                  <button
                    *ngIf="element.deleted == false"
                    mat-raised-button
                    class="buttonColorRed full-width buttonWidth"
                    (click)="activateDeactivateQuestionnaire(element, 'deactivate')"
                  >
                    {{ currentLanguageSet?.deactivate }}
                  </button>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <div
              class="pull-center"
              style="margin-top: 5px"
              [hidden]="dataSource.data.length > 0"
            >
              <strong>{{ currentLanguageSet?.noRecordsFound }}</strong>
            </div>
            <mat-paginator
              [pageSizeOptions]="[5, 10, 20]"
              [pageSize]="5"
              showFirstLastButtons
              aria-label="Select page of questionnaire elements"
            >
            </mat-paginator>
          </div>
        </mat-card>
      </div>
    </div>
    ''