/* mat-card{

    height: auto;
    margin-left: 15px;
} */

.mainHeading {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #00071E;

}

.mainHeadingDiv {
  margin-top: 15px;
  /* margin-left: 30px; */
}

.button {
    margin-right: 10px;
}

.outercard {
    margin-left: 25px;
    /* margin-right: 25px; */
    width: 96%;
}
.innerCard {
  height: auto;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 30px;
  width: 99%;
  background-color: #f2f2f2;
  border: 1px solid #4fa2d0;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 10px !important;
}

mat-form-field {
    color: #00071E;
    margin-right: 10px;
    margin-left: 10px;
    width: 300px;
    font-family: 'Lato', sans-serif;
}

/* .matformfield{
    width: 275px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    text-align: center;
    padding: 5px;
} */

.fontStyle {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #00071E;
}

  .full-width {
    height: 40px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #ffffff;
    margin-top: 15px;
    width: 100%;
    max-width: 150px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  
  .inner {
    display: inline-block;
  }
  
  table {
    width: 100%;
    border-spacing: 0 8px !important;
    border-collapse: separate !important;
    background-color: #f2f2f2;
    font-family: "Lato", sans-serif;
  }
  
  th.mat-header-cell {
    color: #00071e;
    font-size: 16px;
    font-weight: 520;
    padding: 5px 15px 5px 15px;
    text-align: left;
    border-bottom-width: none;
    border-bottom-style: none;
  }
  
  td.mat-cell {
    border-bottom: 1px solid #4fa2d0;
    border-top: 1px solid #4fa2d0;
    background-color: #ffffff;
    text-align: justify;
    padding: 5px 15px 5px 60px;
    font-size: 14px;
  }
  
  td.mat-cell:first-child {
    border-left: 1px solid #4fa2d0;
    background-color: #ffffff;
  }
  
  td.mat-cell:last-child {
    border-right: 1px solid #4fa2d0;
    background-color: #ffffff;
  }
  
  
  .responsiveTable{
    margin-top: 30px;
    width: 100%;
  }
  @media screen and (max-width: 750px) {
    .responsiveTable {
      margin-top: 30px;
      width: 100%;
      overflow-x: scroll;
    }
  }
  
  .mat-elevation-z8 {
    box-shadow: none;
  }
  
  